<div *ngIf="!participant._hidden">
    <span>{{participant.fname}}</span>
    <span>{{participant.lname}}</span>
    <span>{{participant.email}}</span>
    <span>{{participant.company}}</span>
    <span>{{participant.language}}</span>
    <span>{{participant.area_of_expertise}}</span>
    <span *ngIf="participant._connection">Connection #{{participant._connection.id}}</span>
    <span *ngIf="!participant._connection && participant._request">Request #{{participant._request.id}}</span>
    <button *ngIf="!participant._request && !participant._connection" (click)="getInTouchClick()">{{ 'Get in touch' | translation }}</button>
</div>