<style>
    .popup {
        position: absolute;
        width: 800px;
        height: 450px;
        left: 0;
        top: 0;
        background-color: #f8f8f8;
    }
</style>
<div class="popup" *ngIf="popup" [style.left]="styleLeft" [style.top]="styleTop">
    <h2>{{ 'Request for' | translation }} {{ popup.recipient.fname }}  {{ popup.recipient.lname }}</h2>
    <div>{{ 'Enter your message below' | translation }}</div>
    <textarea [(ngModel)]="popup.message"></textarea>
    <div>
        <button (click)="onSendClick()">{{ 'Send Request' | translation }}</button>
        <button (click)="onCancelClick()">{{ 'Cancel' | translation }}</button>
    </div>
</div>
