<style>
    .popup {
        position: absolute;
        width: 50%;
        height: 50%;
        left:25%;
        top: 25%;
        background-color: #f8f8f8;
    }
</style>
<div class="popup" *ngIf="popup">
    <h2>{{ 'Request for' | translation }} {{ popup.recipient.fname }}  {{ popup.recipient.lname }}</h2>
    <div>{{ 'Enter your message below' | translation }}</div>
    <textarea [(ngModel)]="popup.message"></textarea>
    <div>
        <button (click)="onSendClick()">{{ 'Send Request' | translation }}</button>
        <button (click)="onCancelClick()">{{ 'Cancel' | translation }}</button>
    </div>
</div>
